.container
  .row.my-4
    .col-lg-8.text-center
      = image_tag 'logo.png', size: '256x256'
    .col-lg-4
      %h1 OXERMA
      %p
        %small Платформа, предоставляющая услуги для сельского хозяйства
      = link_to 'Присоединиться', new_user_path, class: 'btn btn-success'
  .row
    .col-md-12
      %input.form-control{placeholder: 'Введите ключевое слово', type: 'text', 'style': 'height: 60px;'}
  .row
    - @tickets.each do |ticket|
      = render partial: 'tickets/ticket', locals: {ticket: ticket}