.container{style: 'margin-top: 20px;'}
  %h1.rounded Основная информация
.container{style: 'margin-top: 20px;'}
  .row
    .col-sm-8
      = render partial: 'users/forms/edit/index', locals: {user: user}