= title "Общие настройки"
.container{style: 'margin-top: 20px;'}
  %h1 Общие настройки
.container{style: 'margin-top: 20px;'}
  .row
    .col-sm-8
      = render partial: 'users/forms/settings/index', locals: {user: user}