.container{style: 'margin-top: 20px;'}
  .row
    .col-sm-6
      %h1 Редактирование
.container{style: 'margin-top: 20px;'}
  .row
    .col-sm-4
      = render partial: 'tickets/forms/edit', locals: {ticket: ticket}
