default: &default
  host: localhost
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: oxerma
  password: oxerma

development:
  <<: *default
  database: oxerma_development

test:
  <<: *default
  database: oxerma_test

production:
  <<: *default
  database: oxerma_production
  password: <%= ENV['OXERMA_DATABASE_PASSWORD'] %>
