= title "Изменение данных"
.container{style: 'margin-top: 20px;'}
  %h1 Изменение данных
.container{style: 'margin-top: 20px;'}
  .row
    .col-sm-6
      = render partial: 'organizations/forms/edit', locals: {organization: @organization}
