.container{style: 'margin-top: 20px;'}
  .row
    .col-sm-6
      %h1 Создать организацию
.container{style: 'margin-top: 20px;'}
  .row
    .col-sm-4
      = render partial: 'organizations/forms/new', locals: {organization: organization}